In [118]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression

TV_price_test = pd.read_csv('C:\\Users\\JangBeomJun\\Downloads\\TV_price_test.csv')
TV_price_train = pd.read_csv('C:\\Users\\JangBeomJun\\Downloads\\TV_price_train.csv')

display(TV_price_test.head())
display(TV_price_train.head())

   ID  화면크기  형태   해상도  화면비율  LCD  LED  OLED  QLED  단차  부가기능
0  11    55   0  2160     1    0    1     0     0   3     1
1  25    55   0  2160     1    0    1     0     0   3     1
2  31    55   0  2160     1    0    1     0     0   3     1
3  33    55   0  2160     1    0    1     0     0   3     1
4  44    65   0  2160     1    0    1     0     0   5     7

   ID       판매가  화면크기  형태   해상도  화면비율  LCD  LED  OLED  QLED  단차  부가기능
0   8  396240.0    55   0  2160     1    0    1     0     0   3     1
1   9  412870.0    55   0  2160     1    0    1     0     0   3     1
2  10  414590.0    55   0  2160     1    0    1     0     0   3     1
3  14  418000.0    55   0  2160     1    0    1     0     0   3     1
4  15  419000.0    55   0  2160     1    0    1     0     0   3     1

In [119]:
TV_price_test.isna().sum()

ID      0
화면크기    0
형태      0
해상도     0
화면비율    0
LCD     0
LED     0
OLED    0
QLED    0
단차      0
부가기능    0
dtype: int64

In [120]:
# TV_price_train = TV_price_train.drop('판매가',axis=1)   이거 그냥 이용하자

In [121]:
drop_col1 = ['ID']
drop_col2 = ['ID','판매가']
tid = TV_price_test['ID']

In [122]:
y_train_target = TV_price_train['판매가']
train_x_drop = TV_price_train.drop(columns = drop_col2)
test_x_drop = TV_price_test.drop(columns = drop_col1)
target = TV_price_train['판매가']

In [123]:
train_x_dum = pd.get_dummies(train_x_drop)
test_x_dum = pd.get_dummies(test_x_drop)
test_x_dum = test_x_dum[train_x_dum.columns]

In [124]:
xtr,xt,ytr,yt = train_test_split(train_x_dum,y_train_target)

rf = RandomForestRegressor(random_state=10)
gb = GradientBoostingRegressor(random_state=10)
lr = LinearRegression()

rf.fit(xtr,ytr)
gb.fit(xtr,ytr)
lr.fit(xtr,ytr)

y_validation_pred = rf.predict(xt)
y_validation_pred1 = gb.predict(xt)
y_validation_pred2 = lr.predict(xt)

In [125]:
print('validation rmse', np.sqrt(mean_squared_error(yt,y_validation_pred)))
print('validation1 rmse', np.sqrt(mean_squared_error(yt,y_validation_pred1)))
print('validation2rmse', np.sqrt(mean_squared_error(yt,y_validation_pred2)))

print('validation r2 score', r2_score(yt,y_validation_pred))
print('validation1 r2 score', r2_score(yt,y_validation_pred1))
print('validation2 r2 score', r2_score(yt,y_validation_pred2))

validation rmse 609500.4126247206
validation1 rmse 640738.6391348673
validation2rmse 1020612.5982491113
validation r2 score 0.8679169127637635
validation1 r2 score 0.8540308656885744
validation2 r2 score 0.6296425773409151

In [126]:
test_pred = rf.predict(test_x_dum) # rmse 수치가 가장 낮고, r2 스코어가 가장 높기 때문에
exam2 = pd.DataFrame({'ID': tid,'판매가' : test_pred}) #이거 곱하기 10000하고 싶은데 시간이 없음. 람다 사용하면 되는데
print(exam2)
exam2.to_csv("exam2.csv", mode='w')

         ID           판매가
0        11  4.342321e+05
1        25  4.342321e+05
2        31  4.342321e+05
3        33  4.342321e+05
4        44  1.756272e+06
...     ...           ...
2995  20637  1.046120e+06
2996  20639  1.046120e+06
2997  20642  1.046120e+06
2998  20643  1.046120e+06
2999  20664  1.046120e+06

[3000 rows x 2 columns]